<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


  <!--Index page for app-->
  <servlet-mapping>
    <servlet-name>ViewServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ViewServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.ViewServlet</servlet-class>
  </servlet>


  <!--Addition user-->
  <servlet-mapping>
    <servlet-name>SaveServlet</servlet-name>
    <url-pattern>/add_user</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>SaveServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.SaveServlet</servlet-class>
  </servlet>


  <!--Delete user-->
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.DeleteServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewPositionServlet</servlet-name>
    <url-pattern>/viewPosition</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewPositionServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.ViewPositionServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewDepartmentServlet</servlet-name>
    <url-pattern>/viewDepartment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewDepartmentServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.ViewDepartmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditDepartmentServlet</servlet-name>
    <url-pattern>/editDepartment</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditDepartmentServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.EditDepartmentServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EditPositionServlet</servlet-name>
    <url-pattern>/editPosition</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditPositionServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.EditPositionServlet</servlet-class>
  </servlet>


  <!--Update user-->
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.EditServlet</servlet-class>
  </servlet>

  <!--Update user-->
  <servlet-mapping>
    <servlet-name>ViewAllServlet</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewAllServlet</servlet-name>
    <servlet-class>test.emplmanager.servlets.ViewAllServlet</servlet-class>
  </servlet>


</web-app>